/* Styles intended to apply to Weasyprint */

@page {
	size: 12in 8in;
	margin: 0in;
}

body, html { margin: 0; padding: 0; }
div { display: block !important; height: 100%; position: relative; }
section { display: block !important; height: 100%; min-height: 8in; position: relative; font-size: 0.3in; line-height: 0.4in; } /* 2.5% of 12in */

section.cover { height: 8in; } /* force page height so that banner sits properly */

.cover h1 { margin-top: 25%; }
.interlude h2 { margin-top: 30%; }
