<!doctype html>
<html lang="EN-US">
<head>
	<link rel="stylesheet" href="res/main.css"/>
	<link rel="stylesheet" href="res/theme.css"/>
	<link rel="stylesheet" href="res/print.css" media="openhtmltopdf"/>
	<title>{{ page.title }}</title>
	<meta name="subject" content="{{ page.subject }}"/>
	<meta name="author" content="{{ page.author }}"/>
	<meta name="description" content="{{ page.description }}"/>
	<bookmarks></bookmarks>
</head>
<body class="theme {{ page.theme }}">
	<big class="hideprint fakeheader">{{ page.title }}</big>
	<label for="isslideshow">Click to Toggle between overview and presentation mode.</label>
	<p class="hideprint">While in presentation mode, the tab key can be used to advance the slide</p>
	<div class="slide-deck-holder">
	<input id="isslideshow" type="checkbox" checked/>

	{{ content }}

	</div>

	<script>
	// This should be the only JS ever run - and only for convenience - the page should be usable without it anyways.
	// Try to maintain legacy browser compatibility - no let!

	// TODO: :scope isn't widely available

	// Fix overflow content by moving it to a new slide.
	var slides = /*Array.from(*/document.getElementsByTagName('section')/*)*/
	for (var i = 0; i < slides.length; i++) {
		var target_height = slides[i].parentElement.getBoundingClientRect().height
		if (slides[i].scrollHeight > target_height) {
			console.log('hi')
			var new_slide_div = document.createElement('div')
			new_slide_div.setAttribute('tabindex', 0)

			var new_slide_section = document.createElement('section')
			new_slide_section.className = slides[i].className

			// scan for elements to yoink - but make sure we don't infinitely loop by checking height of item against slide height
			var lists = Array.from(slides[i].querySelectorAll(':scope > ul')).concat(Array.from(slides[i].querySelectorAll(':scope > ol')))
			for (var j = lists.length - 1; j >= 0; j--) {
				var items = Array.from(lists[j].querySelectorAll(':scope > li'))
				// Add the container to the new slideeeeee
				var new_list = document.createElement(lists[j].tagName)
				for (var k = items.length - 1; k >= 0; k--) {
					// check if it'll cause an infinite loop of new slides
					if (items[k].scrollHeight > target_height) break
					// check if we've moved enough items
					if (slides[i].scrollHeight <= target_height) break

					// all good to add to the new slide!
					new_list.prepend(items[k])
				}
				if (items.length > 0) {
					new_slide_section.prepend(new_list)
				}
				// check to see if we broke, if so break
				if (k >= 0) {
					break
				}
			}

			// Add the new slide
			new_slide_div.appendChild(new_slide_section)
			if (i == slides.length - 1) {
				slides[i].parentElement.parentElement.appendChild(new_slide_div)
			} else {
				slides[i].parentElement.parentElement.insertBefore(new_slide_div, slides[i+1].parentElement)
			}
		}
	}
	</script>
</body>
</html>
